@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Ysabeau+Office:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Hi+Melody&family=Ysabeau+Office:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "hi melody";
  font-weight: 200;
  color: #31383f;
  max-width: 2000px;
  margin: auto;
  font-size: 100%;
}

hr {
  border-top: 1px solid #31383f;
  width: 100%;
  margin: 5px 0;
}

a {
  text-decoration: none;
}
/**navigation**/
#menu a {
  text-decoration: none;
  color: #dd8ea4;
  text-decoration: none;
}

#menu a:hover {
  color: #8ca9d3;
}

/** about section**/
.topnav-menu,
h1 {
  font-family: "chango";
}

h2 {
  font-size: 250%;
}

#about-sec,
.topnav-menu {
  background-color: #f2e9eb;
}

.about-work {
  background-color: #fedd89;
}
.work-details > a {
  color: #31383f;
}

/** footer**/

footer {
  height: 100px;
  background-color: #8ca9d3;
}
.social-networks {
  text-align: center;
  padding: 20px;
}
.social-networks > li {
  display: inline;
}
.social-networks i {
  color: #fedd89;
  font-size: 160%;
  padding: 5px;
}
/*media quries*/
@media only screen and (max-width: 393px) {
  #about-sec,
  .topnav-menu,
  .about-work {
    margin: 0% 1%;
    text-align: center;
    height: 200px;
  }

  #menu > li {
    padding: 10px;
  }
  #work-topic {
    height: 50px;
  }
  .work-container {
    height: 200px;
  }

  footer {
    margin: 0% 1%;
  }
}

@media only screen and (min-width: 393px) {
  #menu > li {
    text-align: left;
    display: inline;
    padding: 18px;
    font-size: 16px;
  }
  header {
    height: 120px;
  }
  .topnav-menu {
    background-color: #f2e9eb;
    height: 210px;
    padding: 38px;
  }

  #about-sec {
    height: 280px;
  }
  .about-container {
    padding: 50px;
    padding: 57px;
    text-align: center;
  }
  .about-work {
    height: 330px;
  }
  #work-topic {
    text-align: center;
    padding: 20px;
  }
  .work-container {
    padding: 27px;
    font-size: 22px;
  }
}
