@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Ysabeau+Office:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Hi+Melody&family=Ysabeau+Office:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "hi melody";
  font-weight: 200;
  color: #31383f;
  max-width: 2000px;
  margin: auto;
  font-size: 100%;
}

hr {
  border-top: 1px solid #31383f;
  width: 100%;
  margin: 5px 0;
}

a {
  text-decoration: none;
}
/**navigation**/
#menu a {
  text-decoration: none;
  color: #dd8ea4;
  text-decoration: none;
}
#menu > li {
  list-style-type: none;
  display: inline;
}
#menu a:hover {
  color: #8ca9d3;
}

/** about section**/
.topnav-menu,
h1 {
  font-family: "chango";
}
h1 {
  padding-left: 20px;
}

h2 {
  font-size: 250%;
}

#about-sec,
.topnav-menu {
  background-color: #f2e9eb;
}

.about-work {
  background-color: #fedd89;
}
.work-details > a {
  color: #31383f;
}

section > div {
  margin: 0px 120px 0px;
}
div > p {
  padding: 20px;
}

/** footer**/

footer {
  height: 100px;
  background-color: #8ca9d3;
}
.social-networks {
  text-align: center;
  padding: 20px;
}
.social-networks > li {
  display: inline;
}
.social-networks i {
  color: #fedd89;
  font-size: 160%;
  padding: 5px;
}
/*media quries*/
@media only screen and (max-width: 393px) {
  .topnav-menu {
    text-align: center;
    height: 200px;
  }

  section > div {
    margin: 0px 14px 0px;
  }

  #menu > li {
    padding: 10px;
    margin: 0% 23%;
    line-height: 40px;
  }
  #work-topic {
    height: 50px;
    text-align: center;
  }
  .work-container {
    height: 200px;
  }
  .work-left {
    margin: 36px;
  }
}

@media only screen and (min-width: 393px) {
  #menu > li {
    text-align: left;
    padding: 18px;
    font-size: 16px;
  }
  header {
    height: 120px;
  }
  .topnav-menu {
    background-color: #f2e9eb;
    height: 210px;
    padding: 38px;
  }
  section > div {
    margin: 0px 6px 0px;
  }
  div > p {
    padding: 14px;
  }
  h1 {
    padding-left: 14px;
  }

  #about-sec {
    height: 280px;
  }
  .about-container {
    padding: 4px;
  }
  .about-work {
    height: 330px;
  }
  #work-topic {
    text-align: center;
    padding: 20px;
  }
  .work-container {
    padding: 27px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 600px) {
  nav {
    text-align: center;
  }
}

@media only screen and (min-width: 900px) {
  li > a {
    font-size: 25px;
  }
  p {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  #about-sec {
    height: 500px;
  }
  .about-work {
    height: 460px;
  }
  .work-container {
    font-size: 35px;
  }
}
